@import './reset', './rrss';

* {
    margin: 0;
    box-sizing: border-box;
}

body, button {
    font-family: 'Titilium Web', sans-serif;

    //Tamaño de elementos para utilizar EMs posteriormente
    font-size: 16px;
    line-height: 1.25em;
}

.container {
    width: 100%;
    max-width: 768px;
    height: auto;

    margin: 0 auto;
}

//Cuerpo importante del desarrollo
.main {
    width: 100%;
    height: auto;

    .content {
        position: relative;
        top: 0px;
        left: 0px;
        
        padding: 0px 0px 8px 0px;

        width: 100%;
        height: 100%;

        display: none;

        //Estado activo
        &.active {
            display: block;
        }
    }

    .content::-webkit-scrollbar {
        width: 8px;
    }
    
    .content::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 10px;
    }
    
    .content::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
}

//Contenedores genéricos > En su interior, elementos propios de cada contenedor
.b-chart {
    .chart {
        //Podemos tener: selectores múltiples, selectores sencillos, 2-3 botones o un slider-range
        &__logics {            
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &__logics--bis { //Botones adicionales para animar el gráfico
            display: flex;
            justify-content: center;

            margin-top: 8px;
        }
        
        //Debajo de todos los elementos lógicos tendremos la leyenda > Puede haber de 1 a 7 elementos dentro de la leyenda
        &__legend {
            margin-top: 8px;
            display: flex;

            &--item {
                position: relative;

                display: flex;
                align-items: center;

                font-style: normal;
                font-weight: normal;
                font-size: 0.85em;
                line-height: 10px;  
                
                padding-left: 22px;
                margin-right: 16px;

                //En función de la clase CSS que le acompañe, tendrá un color u otro
                &::before {
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 18px;
                    height: 2.5px;
                }

                &.primary_1::before { background-color: #F8B05C; }
                &.primary_2::before { background-color: #E37A42; }
                &.anag_1::before { background-color: #D1834F; }
                &.anag_2::before { background-color: #BF2727; }
                &.comp_1::before { background-color: #528FAD; }
                &.comp_2::before { background-color: #AADCE0; }
                &.grey_1::before { background-color: #B5ABA4; }
                &.grey_2::before { background-color: #64605A; }
                &.other_1::before { background-color: #B58753; }
                &.other_2::before { background-color: #731854; }
            }
        }        

        //Visualización
        &__viz {
            height: 406px;
            margin-top: 12px;

            & .tick text {
                font-family: 'Titillium Web';
                font-style: normal;
                font-weight: 300;
                font-size: 12px;
                line-height: 10px;
            
                color: #A3A3A3;
            }
            
            & .tick line {
                stroke: #F0F0F0;
                stroke-width: 0.5px;
            }
            
            & .line-special {
                stroke: #000 !important;
                stroke-width: 0.5px !important;
            }

            //Tabla
            &.viz-table {
                width: 860px;
                height: 520px;
                margin-top: 12px;

                background-color: #c3c3c3;
                overflow-x: visible;

                thead {
                    background-color: red;
                }

                tbody {
                    background-color: blue;
                }
            }
        }

        //Pie
        &__footer {
            font-size: 0.85em;

            .chart__source {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                &--data, &--copyright {
                    margin-top: 8px;
                }

                &--data {
                    margin-right: 16px;
                    width: 85%;
                }

                &--data span:first-of-type {
                    font-weight: 700;
                }
            }

            .chart__note {
                font-style: italic;
                margin-top: 4px;

                & span:first-of-type {
                    font-weight: 700;
                }
            }
        }
    }

    //Logo > Dentro del bloque b-chart
    .logo {
        position: absolute;
        top: 0px;
        right: 0px;

        width: 76px;
        height: 46px;
    }
}

.b-notes, .b-data, .b-iframes {
    overflow-y: auto;
}

//Elementos genéricos en contenedores
.b-title {
    width: 100%;
    max-width: calc(100% - 90px);
    min-height: 46px;
    margin-bottom: 8px;

    .title {
        font-size: 1em;
        font-weight: 700;
    }
    
    .subtitle {
        font-size: 1em;
        font-weight: 400;
    
        margin-top: 6px;
    }
}

//Estilos para botones
.btn {
    margin-top: 8px;
    cursor: pointer;
    
    display: flex;
    align-items: center;

    width: auto;
    padding: 0px 6px;
    font-size: 0.85rem;
    border-radius: 3px;

    &__option {
        height: auto;
        min-height: 32px;

        border: 1.2px solid;
        background-color: #fcfcfc;      

        &.active {
            background-color: #fff;
        }
    }

    &__animate {
        height: 32px;
        border: 1.2px solid #E37A42;
        
        img {
            margin-right: 3px;
        }
    }

    &__chart {
        cursor: pointer;
        width: auto;
        max-width: 120px;
        height: 32px;
        border: 0.6px solid #E37A42;
        background-color: #d4d4d4;

        &.active {
            background-color: #fff;
        }

        &:first-of-type {margin-right: 8px;}
        &:last-of-type {margin-left: 8px;}
    }
}

.text {
    &__header {
        font-size: 1em;
        font-weight: 700;
        margin-bottom: 8px;
    }
    &__paragraph {
        font-size: 0.85em;
        line-height: 1.25em;
        font-weight: 400;
        margin-bottom: 8px;

        & + .text__header {
            margin-top: 24px;
        }
    }

    &__iframe {
        width: 100%;
        height: 120px;

        & + .text__header {
            margin-top: 24px;
        }
    }
}

.link {
    border-bottom: 2px solid #F8B05C;
    color: #000;
    text-decoration: none;
}

.btn_share {
    background-color: #fcfcfc;
    border: 2px solid #F8B05C;
    padding: 0px 8px;
    border-radius: 3px;

    cursor: pointer;
    
    font-size: 0.85rem;
}

.rrss {
    width: 50%;
    margin: 16px auto 0px auto;

    display: flex;
    justify-content: space-between;

}

//Pestañas inferiores
.tabs {
    width: 100%;
    height: 28px;

    .l-tabs {
        width: 100%;
        height: 100%;

        display: flex;
        
        .tab {
            width: 100%;
            box-sizing: border-box;
            border-top: 1px solid #e1e1e1;
            border-bottom: 1px solid #e1e1e1;      
            border-right: 1px solid #e1e1e1;

            //Especial redes sociales
            &--rrss {
                width: 36px !important;
                flex-shrink: 0;
            }

            &:first-child {
                border-left: 1px solid #e1e1e1;
            }

            font-size: 0.85em;

            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;

            //Estilo
            background-color: #fcfcfc;
            color: #000;

            //Estado active
            &.active {
                background-color: #fff;
                color: #000;

                border-top: 0px;
                border-bottom: 2px solid #F8B05C;
            }
        }        
    }
}

//Tooltip
.chart__tooltip {
    position: absolute;
    opacity: 0;   

    width: auto;
    max-width: 135px;
    height: auto;
    padding: 8px;
    background-color: #fcfcfc;

    &--title {
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.1;
        color: #000;
    }

    &--text {
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 1.1;
        color: #000;

        margin-top: 4px;
    }
}

@media screen and (max-width: 575px) {
    .b-chart {
        .chart {
            &__options {
                justify-content: center;
            }
        }
    }

    .b-title {
        width: 100%;
        max-width: none;
    
        .title {
            max-width: calc(100% - 90px);
        }
        
        .subtitle {
            //El ancho dependerá de la longitud del título > Para que no se pegue con el logo
            max-width: calc(100% - 90px);
        }
    }

    .b-rrss {
        width: 80%;
    }
}

@media screen and (max-width: 475px) {
    body {
        font-size: 14.5px;
    }
}