@import './reset', './rrss';

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;

    //Tamaño de elementos para utilizar EMs posteriormente
    font-size: 16px;
    line-height: 1.25em;
}

button {
    font-family: 'Montserrat', sans-serif;

    //Tamaño de elementos para utilizar EMs posteriormente
    font-size: 0.85em;
    line-height: 1.25em;
}

.container {
    width: 100%;
    max-width: 768px;
    height: auto;

    margin: 0 auto;

    //POSIBLE SCROLL
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 8px;
    }
    
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
}

//Cuerpo importante del desarrollo
.main {
    width: 100%;
    height: auto;

    .content {
        position: relative;
        top: 0px;
        left: 0px;
        
        padding: 0px 0px 8px 0px;

        width: 100%;
        height: 100%;

        display: none;

        //Estado activo
        &.active {
            display: block;
        }
    }

    .content::-webkit-scrollbar {
        width: 8px;
    }
    
    .content::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 10px;
    }
    
    .content::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
}

//Contenedores genéricos > En su interior, elementos propios de cada contenedor
.b-chart {
    .chart {
        //Podemos tener: selectores múltiples, selectores sencillos, 2-3 botones o un slider-range
        &__logics {            
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__logics--bis { //Botones adicionales para animar el gráfico
            display: flex;
            justify-content: center;

            margin-top: 8px;

            .btn__chart:last-child {
                margin-left: 16px;
            }
        }
        
        //Debajo de todos los elementos lógicos tendremos la leyenda > Puede haber de 1 a 7 elementos dentro de la leyenda
        &__legend {
            display: flex;
            flex-wrap: wrap;            

            &--item {
                position: relative;
                margin-top: 8px;

                display: flex;
                align-items: center;

                font-style: normal;
                font-weight: normal;
                font-size: 0.85em;
                line-height: 10px;  
                
                padding-left: 22px;
                margin-right: 16px;

                //En función de la clase CSS que le acompañe, tendrá un color u otro
                &::before {
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 18px;
                    height: 6px;
                }

                &.primary_1::before { background-color: #F8B05C; }
                &.primary_2::before { background-color: #E37A42; }
                &.comp_1::before { background-color: #528FAD; }
                &.comp_2::before { background-color: #AADCE0; }
                &.grey_1::before { background-color: #D6D6D6; }
                &.grey_2::before { background-color: #A3A3A3; }
                &.anag_prim_1::before { background-color: #BA9D5F;}
                &.anag_prim_2::before { background-color: #9E6C51 ;}
                &.anag_prim_3::before { background-color: #9E3515 ;}
                &.anag_comp_1::before { background-color: #1C5A5E;}
            }
        }        

        //Visualización
        &__viz {
            margin-top: 8px;
            //Títulos en ejes > En otra parte

            //Visualización
            .chart {
                height: 406px;

                //Texto y estilos de ejes
                & .tick text {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 10px;
                
                    color: #262626;
                }

                .domain {
                    stroke: #262626;
                    stroke-width: 1px;
                }
                
                & .tick line {
                    stroke: #262626;
                    opacity: 0.7;
                    stroke-dasharray: 5;
                    stroke-width: 0.5px;
                }
                
                & .line-special {
                    stroke: #000 !important;
                    stroke-dasharray: 0 !important;
                    stroke-width: 1px !important;
                }
            }           
        }

        //Pie
        &__footer {
            font-size: 0.85em;

            .chart__source {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                &--info {
                    margin-top: 8px;
                    width: calc(100% - 80px);
                    .chart__source--data span:first-of-type, .chart__source--elab span:first-of-type {
                        font-weight: 700;
                    }
                }

                &--copyright {
                    margin-top: 8px;
                    width: 68px;
                }
            }

            .chart__note {
                font-style: italic;
                margin-top: 4px;

                & span:first-of-type {
                    font-weight: 700;
                }
            }
        }
    }

    //Logo > Dentro del bloque b-chart
    .logo {
        position: absolute;
        top: 0px;
        right: 0px;

        width: 95px;
        height: 65px;
    }
}

.b-notes, .b-data, .b-iframes {
    overflow-y: auto;
}

//Elementos genéricos en contenedores
.b-title {
    width: 100%;
    max-width: calc(100% - 100px);
    min-height: 65px;

    .title {
        font-size: 1em;
        font-weight: 700;
    }
    
    .subtitle {
        font-size: 1em;
        font-weight: 400;
    
        margin-top: 6px;
    }
}

//Estilos para botones
.btn {
    margin-top: 8px;
    cursor: pointer;
    
    display: flex;
    align-items: center;

    width: auto;
    padding: 0px 6px;
    font-size: 0.85em;
    border-radius: 3px;

    &__option {
        height: auto;
        min-height: 32px;

        border: 1.2px solid;
        background-color: #fcfcfc;      

        &.active {
            background-color: #fff;
        }
    }

    &__animate {
        height: 32px;
        border: 1.2px solid #E37A42;
        
        img {
            margin-right: 3px;
        }
    }

    &__chart {
        cursor: pointer;
        width: auto;
        max-width: 120px;
        height: 32px;
        border: 0.6px solid #E37A42;
        background-color: #d4d4d4;

        &.active {
            background-color: #fff;
        }

        &:first-of-type {margin-right: 8px;}
        &:last-of-type {margin-left: 8px;}
    }
}

.text {
    &__header {
        font-size: 1em;
        font-weight: 700;
        margin-bottom: 8px;
    }
    &__paragraph {
        font-size: 0.85em;
        line-height: 1.25em;
        font-weight: 400;
        margin-bottom: 8px;

        & + .text__header {
            margin-top: 24px;
        }
    }

    &__iframe {
        width: 100%;
        height: 120px;

        & + .text__header {
            margin-top: 24px;
        }
    }

    &__yaxis {
        font-size: 0.8em;
        line-height: 1.25em;
        font-weight: 400;
        color: #262626;
    }

    &__xaxis {
        font-size: 0.8em;
        line-height: 1.25em;
        font-weight: 400;
        color: #262626;
        text-align: center;
    }
}

.link {
    border-bottom: 2px solid #F8B05C;
    color: #000;
    text-decoration: none;
}

.btn_share {
    background-color: #fcfcfc;
    border: 2px solid #F8B05C;
    padding: 0px 8px;
    border-radius: 3px;

    cursor: pointer;
    
    font-size: 0.85rem;
}

.rrss {
    width: 50%;
    margin: 16px auto 0px auto;

    display: flex;
    justify-content: space-between;

}

//Pestañas inferiores
.tabs {
    width: 100%;
    height: 28px;

    .l-tabs {
        width: 100%;
        height: 100%;

        display: flex;
        
        .tab {
            width: 100%;
            box-sizing: border-box;
            border-top: 1px solid #e1e1e1;
            border-bottom: 1px solid #e1e1e1;      
            border-right: 1px solid #e1e1e1;

            //Especial redes sociales
            &--rrss {
                width: 36px !important;
                flex-shrink: 0;
            }

            &:first-child {
                border-left: 1px solid #e1e1e1;
            }

            font-size: 0.85em;

            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;

            //Estilo
            background-color: #fcfcfc;
            color: #000;

            //Estado active
            &.active {
                background-color: #fff;
                color: #000;

                border-top: 0px;
                border-bottom: 2px solid #F8B05C;
            }
        }        
    }
}

//Tooltip
.chart__tooltip {
    position: absolute;
    opacity: 0;   

    width: 135px;
    height: auto;
    padding: 8px;
    background-color: #fffaf0;

    &--title {
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.1;
        color: #262626;
    }

    &--text {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.1;
        color: #262626;

        margin-top: 4px;
    }
}

@media screen and (max-width: 575px) {
    .b-chart {
        .chart {
            &__options {
                justify-content: center;
            }
        }
    }

    .b-rrss {
        width: 80%;
    }
}